		@font-face {
			font-family: HelveticaNeueMd;
			src: url(../fonts/HelveticaNeueMd.otf);
		}
		@font-face {
			font-family: HelveticaNeueRoman;
			src: url(../fonts/HelveticaNeueRoman.otf);
		}
		@font-face {
			font-family: HelveticaNeue Bold Condensed;
			src: url(../fonts/HelveticaNeueBdCn.otf);
		}

		@font-face {
			font-family: HelveticaNeue Black Condensed;
			src: url(../fonts/HelveticaNeueBlackCond.otf);
		}
		@font-face {
			font-family: HelveticaNeue Light Italic;
			src: url(../fonts/HelveticaNeueLightIt.otf);
		}
		@font-face {
			font-family: HelveticaNeue Medium Italic;
			src: url(../fonts/HelveticaNeueMdIt.otf);
		}
		@font-face {
			font-family: HelveticaNeue Light;
			src: url(../fonts/HelveticaNeueLt.otf);
		}

	    * {
             box-sizing: border-box;
             margin:auto;
        }

        p {font-family: HelveticaNeue Light;
        	color:white;
        }

        h1 {
        	font-family: HelveticaNeue Bold Condensed;
        	font-size: 40pt;
        	line-height: 1.2;
        	text-decoration: none;
    		color: white;
        }


        h2 {
        	font-family: HelveticaNeue Bold Condensed;
        	font-size: 1.8rem;
        	text-decoration: none;
        	margin-top: 0;
    		margin-bottom: 10px;
    		color: white;
        }

        .cursive {
        	font-family: HelveticaNeue Light Italic;
        	font-weight: 900;
        	font-size: 12pt;
        	color: #041f4a;
        }


        body,html {
			
			width: 100%;
			margin:0;
			padding:0;
			overflow:hidden;

		}

		#top {
			position: fixed;
			bottom: 10%;
			right: 5%;
			height: 8%;
			filter: drop-shadow(3px 4px 4px rgba(0,0,0,0.5));
			cursor: pointer;
			z-index:1;
			display: none;
		}

		#top:hover {
			filter: drop-shadow(3px 4px 4px rgba(0,0,0,0));
		}

		#seabed {
			position: fixed;
			right: 0;
			bottom: 0;
			min-width: 100%;
			min-height: 100%;
			z-index: -2;
		}

		#appGames {
			height: 11%;
			position: fixed;
			z-index: 3;
			bottom: 5%;
			left: 4%;
			-webkit-filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.5)); 
			filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.5));
			cursor: pointer;
		}


		#appGames:hover {
			-webkit-filter: drop-shadow(6px 6px 4px rgba(0,0,0,0)); 
			filter: drop-shadow(6px 6px 4px rgba(0,0,0,0));
		}


		#home {
			height: 100vh;
			position: relative;
		}



		#homePage {

			transform: rotateY(180deg);
			object-fit: cover;
			width: 100vw;
			height: 100vh;
/*			position: fixed;
			top: 0;
			left: 0;*/
		}

		#background {
			position: absolute;
			background-image:url('img/background.gif');
			width: 100%;
			background-repeat:no-repeat;
			background-size:contain;
			background-position:center;
			z-index: -1;
		}

		#header {
			height: 100px;
			width: 100%;
			position: fixed;
			top:0;
			left: 0;
			z-index: 3;
		}

		#logo {
			float:left;
			width:50%;
			height: 100%;
			filter: drop-shadow(3px 4px 4px rgba(0,0,0,0));
		}

		.logoIMG {
			width:40%;
			margin-top: 35px;
			margin-left: 50px;
		}

		#logo1 {
			display: block;
		}

		#logo2, #logo3 {
			display:none;
		}

		#sos {
			display: none;
		}

		#buttonsCont {
			float:left;
			width:50%;
			height: 100%;
			padding-right: 50px;
		}

			#burger {
				display: none;

			}

				#cross {
					display:none;
				}

			#burgerCont {
				display: none;
				position: fixed;
				top:0;
				right:-100%;
				width: 100%;
				/*margin-right: - 100%;*/
				background-color:#ff4633;
				height: 100%;
				z-index: -1;
				padding-top: 30%;
				}

					.opcionesMenu {
						font-family: HelveticaNeue Bold Condensed;
						font-size: 30pt;
						text-align: center;
						text-decoration: none;
						color: white;
						cursor:pointer;
						padding-top: 5%;
						padding-bottom: 5%;
					}


		.button {
			min-width:10px;
			margin-top: 35px;
			padding-right: 25px;
			padding-left: 25px;
			height: 38px;
			float:right;
			margin-left: 30px;
			font-family: HelveticaNeue Light;
			font-size: 15px;
			letter-spacing: 0.5px;
			color:white;
			text-align: center;
			padding-top: 7px;
			border-radius: 7.5px;
			cursor: pointer;
			-webkit-filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.2)); 
			filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.2));
		}

		.button:hover {
			background-color: red!important;
		}
		
		#first {
			height: 100vh;
			width: 100%;
			background: transparent;
		}

			#firstCont {
				-webkit-filter: drop-shadow(0px 30px 15px rgba(0,0,0,0.5)); 
				filter: drop-shadow(0px 30px 15px rgba(0,0,0,0.5));
				position: relative;
				background-color: #ff4633;
				height: 50%;
				border-radius: 0px 150px 0px 150px;
				padding-left: 3%;
				padding-right: 3%;
				padding-top: 1%;
				top:25%;
				z-index: 2;

			}

				.text1 {
					font-family: HelveticaNeueRoman;
					line-height: 1.5;
					color: #041f4a;
					padding-right: 3rem;
					padding-left: 3rem;
					text-align: center;
					width: 33%;
					float: left;
					margin-top: 5%;
					font-size: 11pt;
				    
				}

		#second {
			height: 100vh;
			width: 100%;
			background: transparent;
			position: relative;
		}

			#secondCont {
				background-color: #ff4633;
				position: absolute;
				top:18%;
				left: 10%;
				height: 62vh;
				width: 55vw;
				-webkit-filter: drop-shadow(0px 30px 15px rgba(0,0,0,0.5)); 
				filter: drop-shadow(0px 30px 15px rgba(0,0,0,0.5));
				border-radius: 20px;
				padding-top: 2%;
				padding-left: 3%;
				padding-right: 2%;
			}

				.text2 {
				    float: left;
				    width: 55%;
				    line-height: 1.4;
				    padding-right: 6%;
				    padding-top: 2%;
				    font-size: 11pt;
				    padding-bottom: 2%;
				}

				.text2 ~ .text2 {
					width: 40%;
					padding-right: 2%;
				}

				#verMapa {
					color: white;
					/*background-color: #ffffff38;*/
					background-color: #041f4a;
					padding-right: 50px;
					padding-left: 50px;
					height: 40px;
					font-family: HelveticaNeue Light;
					font-size: 18px;
					letter-spacing: 0.5px;
					
					text-align: center;
					padding-top: 6px;
					border-radius: 7.5px;
					cursor: pointer;
					float: left;
					margin-top: 1%;
				}

				#verMapa:hover {
					/*background-color: #041f4a;*/
					background-color: red;
					/*opacity: 1;*/
				}

				#mapa {
					position: absolute;
					bottom: 4%;
					right: 14%;
					width: 46vw;
				}	
		

		#third {
		height: 100vh;
		width: 100%;
		background: transparent;
		position:relative;

		}


			#thirdCont {
				background-color: #ff4633;
				position: absolute;
				top:18%;
				right: 10%;
				height: 62vh;
				width: 50vw;
				-webkit-filter: drop-shadow(0px 30px 15px rgba(0,0,0,0.5)); 
				filter: drop-shadow(0px 30px 15px rgba(0,0,0,0.5));
				border-radius: 20px;
				padding-right: 4%;
				padding-top: 3%;
				text-align: right;
				padding-left: 12%;
				z-index: 1;
				overflow: hidden;
			}

				#plantas {
				    height: 71%;
				   position: absolute;
				    left: 2%;
				    bottom: -13%;
				    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5)); 
					filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
				    
				}

				.text3 {
					padding-top: 2%;
					text-align: right;
					float:right;
					width: 75%;
					font-size: 11pt;
				}

				#test {
					color: white;
					background-color: #041f4a;
					/*background-color:#ffffff38;*/
					padding-right: 70px;
					padding-left: 70px;
					height: 40px;
					font-family: HelveticaNeue Light;
					font-size: 18px;
					letter-spacing: 0.5px;
					text-align: center;
					padding-top: 6px;
					border-radius: 7.5px;
					cursor: pointer;
					float: right;
					margin-top: 1%;
				}

				#test:hover {
					background-color: red;
				}

			#fondoMarino {
				width: 107%;
				position: absolute;
				bottom: -3%;
				right: -4%;
				z-index: 0;	
			}

			.fish {
				height: 1.5%;
				position: absolute;
				bottom: 42%;
    			left: 10%;
    			animation-name: fish;
    			animation-duration: 5s;
    			animation-iteration-count: infinite;
			}


			.fish ~ .fish {
				height: 1.5%;
				position: absolute;
				bottom: 30%;
    			left: 14%;
    			animation-name: fish;
    			animation-duration: 8s;
    			animation-iteration-count: infinite;
			}

			.oposite {
				height: 1.5%;
				position: absolute;
				bottom: 38%;
    			left: 4%;
    			z-index: 1;
    			animation-name: fish;
    			animation-duration: 5s;
    			animation-iteration-count: infinite;
			}

			.oposite ~ .oposite {
				height: 1.5%;
				position: absolute;
				bottom: 36%;
    			left: 10%;
    			z-index: 1;
    			animation-name: fish;
    			animation-duration: 4s;
    			animation-iteration-count: infinite;
			}

		#last {
			height: 100vh;
			width: 103%;
			background: #ff4633;
			position: relative;
		}

			#contLastLeft {
				width: 30%;
				float: left;
				height: 70%;
				margin-top: 8%;
				margin-left: 6%;
				padding-right: 10%;
				padding-top: 2%;
			}

			#contLastRight {
			 	width:60%;
			 	float: left;
			 	/*height: 70%;*/
			 	margin-top: 8%;
			 	position: relative;
			}

				.text4 {
					padding-right: 0;
					padding-top: 3%;
					color: white;
					padding-bottom: 1%;
				}


				#habitos {
					background-color: rgb(255,255,255,0.2);
					padding-right: 50px;
					padding-left: 50px;
					height: 40px;
					font-family: HelveticaNeue Light;
					font-size: 18px;
					letter-spacing: 0.5px;
					color: white;
					text-align: center;
					padding-top: 6px;
					border-radius: 7.5px;
					cursor: pointer;
					float: left;
					margin-top: 1%;
				}

				#habitos:hover {
					background-color: #041f4a;
				}

				#plato {
					position: absolute;
					width: 85%;
					-webkit-filter: drop-shadow(10px 25px 6px rgba(0, 0, 0, 0.5));
					filter: drop-shadow(10px 25px 6px rgba(0, 0, 0, 0.5));
				}

				#botella {
					position: absolute;
					width: 53%;
					right: 30%;
   	 				top: 15%;
   	 				margin-top: 9%;	
					-webkit-filter: drop-shadow(10px 25px 6px rgba(0, 0, 0, 0.5));
					filter: drop-shadow(10px 25px 6px rgba(0, 0, 0, 0.5));
				}

		#footer {
			background-color: #041f4a;
			height: 100vh;
			width: 100%;

		}

			#scrollFooter {
				height: 50vh;
				position: absolute;
				bottom:0;
				width: 100%;
			}

			#footer1 {
				background-color: white;
				height: 60%;
				width: 100%;
				padding-top: 10%;
    			padding-left: 2%;
				
			}

			#arrowLeft {
				position: absolute;
				height: 35%;
				top: 23%;
				left: -15%;
			}

			#arrowRight {
				position: absolute;
				height: 35%;
				top: 23%;
				right: -14%;
				transform: rotate(180deg);
			}

			#arrowRightMobile {
				display: none;
			}

				#titleFooter {
					font-family: HelveticaNeue Bold Condensed;
					color: #ff4633;
					text-align: center;
					line-height: 1.2;
					font-size: 2.5rem;position: relative;
					width: 25%;
					float:left;
				}


					#opinion1 {
						text-align: left;
						position: relative;
						color: #041f4a;
						width: 24%;
						float:left;
						font-family: HelveticaNeue Light;
						margin-left: 10%;
						margin-right: 6%;
						    margin-top: 1%;
					}

					#opinion2 {
						text-align: left;
						position: relative;
						color: #041f4a;
						width: 24%;
						float:left;
						font-family: HelveticaNeue Light;
						    margin-top: 1%;
					}					    



			#footer2 {
				height: 40%;
				width: 100%;
				color:white;
				/*padding-left: 10%;*/
				position:relative;
			}

				.text5 {
					color:white;
					font-size: 1rem;
					/*margin-top: 8%;*/

				}

			#logoFooter {
				display: none;
				height: 10%;
				position: absolute;
				top: 15%;
				left: 11%;
			}

			.oneFooter {
				width: 33%;
				float: left;
				font-family: HelveticaNeueMd;
				padding-top: 3%;
				padding-left: 5%;
				color: #ff4633;
				cursor:pointer;
			}

			.lastFooter {
				width: 33%;
				float:left;
				font-family: HelveticaNeue Light!important;
				margin-top: 3%;
				padding-left: 5%;
				text-decoration: underline;
				/*min-width: auto;*/
				/*margin-top: 0!important;*/
				cursor:pointer;
			}

			#copyright {
				float:left;
				width: 100%;
				padding-left: 1%;
				padding-top: 5%;
				font-family: HelveticaNeue Light Italic;
				padding-left: 5%;
			}


		#first {
			height: 100vh;
			width: 100%;

		}	   



			#soft {
				/*display: none;*/
	    		position: absolute;
				top: 330%;
  				  left: 25%;
   				 height: 24%;
	    		z-index: 0;
	    		animation-name: plastic;
	    		animation-duration: 5s ;
	    		animation-iteration-count: infinite;
	    	}

	    	#detergent {
	    		display: none;
	    		position: absolute;
	    		top: 169%;
	    		left: 24%;
	    		height: 28%;
	    		z-index: 0;
	    		animation-name: plastic;
	    		animation-duration: 6s ;
	    		animation-iteration-count: infinite;
	    	}

	    	#straw {
	    		display: none;
	    		position: absolute;
	    		top: 219%;
				left: 80%;
				height: 17%;
	    		z-index: 0;
	    		animation-name: plastic;
	    		animation-duration: 6s ;
	    		animation-iteration-count: infinite;
	    	}

	    	#water {
	    		display: none;
	    		position: absolute;
	    		top: 342%;
				left: 28%;
				height: 17%;
	    		z-index: 0;
	    		animation-name: plastic;
	    		animation-duration: 5s ;
	    		animation-iteration-count: infinite;
	    	}

	    	#palito {display: none;
	    		position: absolute;
	    		top: 328%;
    			left: 7%;
    			height: 7%;
	    		z-index: 0;
	    		animation-name: plastic;
	    		animation-duration: 9s ;
	    		animation-iteration-count: infinite;
	    	}



	@keyframes fish {
		0% {
			transform: translateY(0px); 
			}
		50% {
			transform: translateY(10px);
		}
		100% {
			transform: translateY(0px); 
		}
	}

	@keyframes oposite {
		0% {
			transform: translateY(0px); 
			}

		50% {
			transform: translateY(10px);
		}

		100% {
			transform: translateY(0px); 
		}
	}

	@keyframes plastic {
		0% {
			transform: translateY(0px); 
			}
		50% {
			transform: translateY(20px);
		}
		100% {
			transform: translateY(0px); 
		}
	}



	@media screen and (min-width: 1600px) and (max-width: 2570px) {
		 h1{
		 	font-size: 4rem!important;
		 }

		 h2 {
			font-size: 2.5rem!important;
			margin-right: -7%;
			margin-left: -7%;
			margin-bottom: 2%!important;
		}

		 p {font-size: 13pt;}

		 #firstCont {
			height: 40%;
			padding-left: 6%;
			padding-right: 6%;
			top:28%;
		 }


		 #secondCont {
		 	height: 55vh;
		 }

		 #mapa {
			bottom: 14%;
    		right: 18%;
		}

		#contLastLeft {
				width: 30%;
				float: left;
				height: 70%;
				margin-top: 8%;
				margin-left: 6%;
				padding-right: 10%;
				padding-top: 2%;
			}

				.text4 {
					padding-right: 20%;
				}

			#titleFooter {
				font-family: HelveticaNeue Bold Condensed;
				color: #ff4633;
				font-size: 4rem;
				text-align: center;
				line-height: 1.2;
			}
			.text5 {
				font-size: 1.2rem;
			}

			#opinion1, #opinion2 {
				
				    padding-right: 115px!important;
				    padding-left: 30px!important;
				    margin-top: 2%;
				    width: 27%;
			}

			#opinion1 {
				margin-left: 9%;
				margin-right: 1%;
				margin-top: 2%;
			}

			#arrowLeft {
				left: -15%
			}

			#arrowRight {
				right: 0;
			}

			#botella {
				margin-top: 8%;
			}

	}

	@media screen and (min-width: 1380px) and (max-width: 1600px) {
		 h1{
		 	font-size: 3.5rem!important;
		 }
		 h2 {
		 	font-size: 2.5rem!important;
		 	margin-right: -5%;
			margin-left: -5%;
			margin-bottom: 5%!important;
		 }
		
		 #mapa {
			bottom: 11%;
    		right: 14%;
		}


	}
	
	@media screen and (min-width:950px) and (max-width: 1200px) {

		#firstCont {
			padding:0;
		}

		.text1 {
			padding-right: 1.5rem;
			padding-left: 1.5rem;
	    }

/*		h2 {
		 	font-size: 2.5rem!important;
		}
		#mapa {
			bottom: 10%;
    		right: 14%;
		}

		#contLastLeft {
			width: 35%;
			padding-right: 3%;
		}

		#contLastRight {
			width: 55%;
		}

		#plato {
			width: 90%;
			margin-top: 5%;
		}

		#botella {
			right: 27%;
			margin-top: 15%;
		}*/


	}
/*
	@media screen and (max-width: 1120px) {
		#mapa {
			bottom: 12%;
			right: 9%;				
		}

		#secondCont {
			width: 65vw;
		}
	}

	@media screen and (max-width: 1025px) {


		#mapa {
			bottom: 14%;
			right: 6%;
			width: 49vw;	
		}

	}
	@media screen and (max-width: 870px) {
		#secondCont {
			width: 68vw;
		}
	}
	
	@media screen and (max-width: 750px) {
		h1 {
			font-size:2.3rem!important;
		}

				h2 {
        	font-family: HelveticaNeue Bold Condensed;
        	font-size: 16px;
        	margin-top: 0;
       		margin-bottom: 0;
        }

        #logo {
			width: 70%;
		}

		#top {
			bottom: 5%;
			right: 8%;
			height: 7%;
		}

		.logoIMG {
			margin-left: 8%;
			width: 88%;
			margin-top: 6%;
		}

		#appGames {
			height: 15%;
			position: fixed;
			bottom: 5%;
			left: 5%;
		}

		#seabed {
        	display: none;
        }

        body {
        	background-color: #041f4a;
        }


		#buttonsCont {
			width: 30%;
			padding-right: 5%;
    		padding-top: 5%;
		}

		#appGames {
			display: none;
		}
		

		#burger { 	
			display: block;		
			height: 30%;
		 }

		 #burger img {
			height: 100%;
		 	float:right;
		 }

		 	#burgerCont {
				display: block;
			}


		.button {
			display: none;
		}

		#firstCont {
			height: 77%;
			padding-top: 22%;
			padding-bottom: 7%;
		}

			.text1 {

			    line-height: 1.2;
				padding-right: 2rem!important;
				padding-left: 2rem!important;
				margin-bottom: 0;
				margin-top: 0;

			}

		#secondCont {
				top:15%;
				left: 8%;
				height: 70vh;
				width: 85vw;
				margin:auto;
				padding-right: 3%;
				padding-left: 4%;
				text-align: center;
			}


		.text2 {
			text-align: center;
			float:none;
			width: 100%;
			font-size:13pt;
			line-height: 1.6;
			padding-left:4%;
			padding-right:5%;
		}

		.text2 ~ .text2 {
			display: none;
		}

		#mapa {
			display: none;
			
		}

		#verMapa {
			padding-right: 80px;
			padding-left: 80px;
			height: 50px;
			margin-left: 8%;
			font-size: 23px;
		}


		#thirdCont {
			width: 85vw;
			right: 8%;
			text-align: center;
			padding-left: 2%;
			padding-right: 2%;
			top:13%;
			height: 70vh;
			}

		.text3 {
			width: 100%;
			font-size:13pt;
			line-height: 1.6;
			text-align: center;
			padding-left:5%;
			padding-right:5%;
		}

		#test {
			padding-right: 90px;
			padding-left: 90px;
			height: 50px;
			margin-right: 17%;
			font-size: 23px;
			background-color:#041f4a;

		}

		#fondoMarino {
			width: 166%;
			position: absolute;
			bottom: -2%;
			right: -46%;
			z-index: 0;
			overflow: hidden;
		}


			#plantas {
				    height: 64%;
				    left: 6%;
				    z-index:-1;
				    opacity: 0.5
				}


		#contLastLeft {
			width: 80%;
			margin-top: 8%;
			margin-left: 13%;
			padding-right: 10%;
			padding-top: 9%;
			text-align: center;
		}

			#habitos {
					padding-right: 80px;
					padding-left: 80px;
					height: 50px;
					font-size: 20px;
					padding-top: 10px;
					border-radius: 7.5px;
					cursor: pointer;
					float: left;
					margin-top: 1%;
					margin-left: 10%;
			}


		#contLastRight {
				width: 80%;
				margin-top: -15%;
				margin-left: 12%;
			}

			#botella {
				top: 7%;
			}

		#footer {
			width: 103%;
		}

			#titleFooter {
				font-size: 2.5rem;
			}

			#footer1 {
				padding-top: 20%;
				width: 101%;
			}

				#opinion1 {
					text-align: center;
				}

				#opinion2 {
					display:none;
				}

				#soft, #detergent, #straw, #water, #palito {
					display: none;
				} 


				.fish {
					height: 1%;
					bottom: 14%;
					left:10%;
				}

				.fish ~.fish {
					height: 1%;
					bottom: 12%;
					left:25%;
				}

				.oposite {
					height: 1%;
					bottom: 10%;
					left:4%;
				}

				.oposite ~.oposite {
					height: 1%;
					bottom: 7%;
					left:16%;
				}
	}

	*/
	@media screen and (max-width: 375px) {

        #seabed {
        	display: none;
        }

        body {
        	background-color: #041f4a;
        }   
        p {
        	font-size:12pt;
        } 

    	h1 {
			font-size:2.5rem;
			padding-top: 5%;
			line-height: 1.1;
		}

        #logo {
			width: 70%;
		}		

		#buttonsCont {
			width: 30%;
			padding-right: 5%;
    		padding-top: 5%;
		}

		#burger { 	
			display: block;		
			height: 30%;
		 }

		 #burger img {
			height: 100%;
		 	float:right;
		 	-webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5)); 
			filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
		 }

		 	#burgerCont {
				display: block;
			}


		.button {
			display: none;
		}

		#top {
			bottom: 3%;
			right: 7%;
			height: 7%;
		}

		.logoIMG {
			margin-top: 8%;
			margin-left: 8%;
			width: 88%;
			margin-top: 6%;
		}

		#appGames {
			display: none;
		}

		#firstCont {
			height: 78%;
			padding-top: 5%;
			padding-bottom: 5%;
			top: 10%;	
			border-radius: 0px 80px 0px 80px;
			-webkit-filter: drop-shadow(0px 15px 10px rgba(0,0,0,0.5)); 
			filter: drop-shadow(0px 15px 10px rgba(0,0,0,0.5));
		}

			.text1 {
			    line-height: 1.2;
				padding-right: 1rem;
				padding-left: 1rem;
				margin-bottom: 0;
				margin-top: 3%;
				width: 100%;
			}

		#secondCont {
				top:13%;
				left: 8%;
				height: 75vh;
				width: 85vw;
				text-align: center;
				-webkit-filter: drop-shadow(0px 15px 10px rgba(0,0,0,0.5)); 
				filter: drop-shadow(0px 15px 10px rgba(0,0,0,0.5));
			}

			.text2 {
				text-align: center;
				float:none;
				width: 100%;
				font-size:12pt;
				line-height: 1.4;
				padding: 8px 10px 20px 14px;
			}

			#mapa {
				display: none;
			}


			#verMapa {
				height: 50px;
				font-size: 24px;
				width: 100%;
				padding: 8px 0 0 0;
			}

		#thirdCont {
			width: 85vw;
			right: 8%;
			text-align: center;
			top:12%;
			height: 75vh;
			padding-left: 4%;
			-webkit-filter: drop-shadow(0px 15px 10px rgba(0,0,0,0.5)); 
			filter: drop-shadow(0px 15px 10px rgba(0,0,0,0.5));
		}

			.text3 {
				width: 100%;
				font-size:12pt;
				line-height: 1.4;
				text-align: center;
				float:none;
				padding: 8px 10px 20px 10px;
			}

			#test {
				height: 50px;
				font-size: 24px;
				width: 100%;
				padding: 8px 0 0 0;
				background-color:#041f4a;
			}


				#plantas {
				    height: 64%;
				    left: 6%;
				    z-index:-1;
				    opacity: 0.5
				}		

			#fondoMarino {
				width: 166%;
				position: absolute;
				bottom: -2%;
				right: -46%;
				z-index: 0;
				overflow: hidden;
			}

				.fish {
					height: 1%;
					bottom: 14%;
					left:10%;
				}

				.fish ~.fish {
					height: 1%;
					bottom: 12%;
					left:24%;
				}

				.oposite {
					height: 1%;
					bottom: 10%;
					left:4%;
				}

				.oposite ~.oposite {
					height: 1%;
					bottom: 7%;
					left:15%;
				}

/*		#last {
			width: 100%;
		}*/
		#contLastLeft {
			width: 100%;
			margin:8% 0 0 0;
			padding: 16px 10% 0px 8%;
			text-align: center;
		}

			.text4 {
				padding: 5% 0 6% 0;
				line-height: 1.4;
			}

			#habitos {
				height: 50px;
				font-size: 24px;
				width: 100%;
				padding: 8px 0 0 0;
			}

		#contLastRight {
			width: 80%;
			margin-top: -7%;
			margin-left: 13%;
		}

		#footer {
			width: 100%;
		}

			#footer1 {
				background-color: white;
				height: 70%;
				width: 100%;
				padding-left: 0;
				padding-top: 25%;
			}

			#titleFooter {
				width: 100%;
			}


				#opinion1 {
					color:#041f4a;
					font-size: 12pt;
					font-family: HelveticaNeue Light;
					text-align: center;
					padding-left: 15%;
					padding-right: 15%;
					line-height: 1.3;
					padding-top: 5%;
					width: 100%;
					margin: 0;
				}

				#opinion2 {
					display:none;
				}


				#arrowLeft {
					display: none;
					height: 30%;
					top: 30%;
					left: 5%;
				}

				#arrowRight {
					display:none;
				}

				#arrowRightMobile {
					display: none!important;
					position:absolute;
					display:block;
					height: 29%;
					top: 30%;
					right: 5%;
					transform: rotate(180deg);
				}

				#footer2 {
					height: 30%;
				}

				.oneFooter {
					display: none;
				}
				
				.lastFooter {
					margin-top: 3%;
					width: 100%;
					text-align: center;
					font-size: 14pt;
					padding: 0;
				}

				#copyright {
					font-size: 10pt;
					padding-top: 10%;
					text-align: center;
				}

				#soft, #detergent, #straw, #water, #palito {
					display: none;
				} 







	}	