			


			#mapX { 
				width: 77%;
				height: 77%;
				margin:auto;
				border-radius: 20px;			
				-webkit-filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5)); 
				filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));
				z-index: 1;
			}
			
			/*///////////// amaga signatura /////////*/
			.leaflet-control-attribution{display:none;}
			
			.leaflet-container {
				background-color: #041f4a!important;
			}

			#popUp {
				color:red;
				font-size: 15pt;
				width: 200px;
				height: 30px;

			}

				.leaflet-popup-content-wrapper, .map-legends, .map-tooltip {
					background-color: #ffffff73;
					border-radius: 20px;
					-webkit-filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5)); 
					filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));
				}

				.leaflet-container {
    				background: #f000;
    			}

				.leaflet-popup-tip {
						border-top: 10px solid #ffffff73;
				}

				.leaflet-container.dark .map-tooltip .close, .leaflet-control-attribution:after, .leaflet-control-layers-toggle, .leaflet-control-zoom-in, .leaflet-control-zoom-out, .leaflet-popup-close-button, .map-tooltip .close, .mapbox-icon {
					background-color: #ff4d33;
					opacity: 1;
					border-radius: 5px;
					margin-top: 6px!important;
				}

				.leaflet-bar, .leaflet-control-layers {
					background-color: transparent;
					border-color: transparent!important;
				}

				#logoMaps {
					width: 100%;
				}

				@media screen and (min-width: 1600px) and (max-width: 2570px) {
					#mapX {
						width: 77%;
    					height: 77%;
					}


				}

				@media screen and (max-width: 450px) {
					#mapX {
						border-radius: 0;
					}
				}
				

				@media screen and (max-width: 375px) {
					#mapX { width:80%;
						margin:auto;
						border-radius: 0;
						margin-top: 80px;	
						width: 100%;
    					height: 65vh;
					}

					.leaflet-top {
						display: none;
					}

				}